.image-viewer {
    text-align: center;
    font-size: 25px;
    background-color: #1c3148;
}
.hero-image {
    width: 60vw;
}
.header {
    margin:0;
    color: #d04a36;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
