.home {
  background-color: #1c3148;
}
.navigation-grid {
  background-color: #D04A36;
  display: grid;
  grid-template-columns: auto auto;
  gap: 4px;
  padding: 4px;
  div {
    text-align: center;
    font-size: 15px;
    padding: 20px;
    background-color: #465973;
  }
}

.grid-text {
  color: white;
}

.grid-link {
  text-decoration: none;
}

.grid-span {
  grid-column: 1/3;
}