.home {
  background-color: #1c3148;
}
.navigation-grid {
  background-color: black;
  display: grid;
  grid-template-columns: auto auto;
  gap: 4px;
  padding: 4px;
  div {
    text-align: center;
    font-size: 15px;
    padding: 20px;
    background-color: white;
  }
}

.photos-rover-tile {
  grid-column: 1/3;
}
